.nav-item {
  position: relative;
  margin: 0 14px 0;
  transition: all 1s ease-in-out;
}

.nav-item:hover {
  cursor: pointer;
}

.nav-item span {
  position: absolute;
  visibility: visible;
  opacity: 1;
  font-size: 14px;
  text-align: center;
  width: 100%;
  display: block;
  transition: all 0.5s ease-in-out;
  bottom: -20px;
  color: #FFFFFF;
  text-decoration: none;
}

.nav-item.section-open {
  visibility: hidden;
  opacity: 0;
}

@media (min-width: 600px) {
  .nav-item {
    margin: 0 10px 0;
  }

  .nav-item span {
    visibility: hidden;
    opacity: 0;
  }

  .nav-item:hover span {
    visibility: visible;
    opacity: 1;
  }

  .nav-item.section-open {
    visibility: visible;
    opacity: 1;
    margin: 0;
    position: absolute;
  }

  .nav-item--left {
    top: 0;
    left: 0;
  }

  .nav-item--right {
    right: 0;
  }

  .nav-item--top {
    top: -80px; /* height of shape + content card border width */
  }

  .nav-item--bottom {
    bottom: 0;
  }

  .nav-item.section-open:hover span {
    visibility: hidden;
    opacity: 0;
  }
}