html {
	overflow: hidden;
}

body {
	font-family: $body-font;
	text-align: center;
	height: 100vh;
	display: flex;
	background-image: url('images/bg.jpeg');
	background-size: cover;
	overflow: hidden;

	@media (max-width: 600px) {
		overflow: auto;
		display: block;
		height: 100vh;
		position: relative;
	}
}

header {
	margin: auto;
	padding: 1.5rem;
	max-width: 400px;
	transition: all 1s ease-in-out;

	@media (max-width: 600px) {
		position: absolute;
		top: 45%;
		transform: translateY(-55%);
		left: 0;
		right: 0;
	}
}

img {
	max-width: 100%;
	margin-bottom: 1rem;
}

h1 {
	margin-bottom: 0.75rem;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 48px;
	letter-spacing: 5px;
	color: #FFFFFF;
	margin-bottom: 20px;
	transition: all 1s ease-in-out;

	@media (max-width: 400px) {
		font-size: 36px;
	}
}

h2 {
	font-size: 30px;
	margin-bottom: 16px;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: $white;
	transition: color 0.5s ease-in-out;

	&:hover {
		color: $white;
	}
}

section {
	text-align: left;
	position: absolute;
	border: 5px solid $white;
	color: $white;
	padding: 20px;
	top: 80px;
	left: 80px;
	right: 80px;
	bottom: 80px;
	visibility: hidden;
	opacity: 0;
	overflow: scroll;
	transition: all 1s ease-in-out;

	@media (max-width: 600px) {
		border: 0;
		text-align: center;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: relative;
		display: none;
	}
}

.hidden {
	visibility: hidden;
	opacity: 0;
}

.showing {
	visibility: visible;
	opacity: 1;
}
