#about {
	img {
		float: right;
		padding-left: 10px;
		width: 400px;

		@media (max-width: 800px) {
			width: 250px;
		}

		@media (max-width: 600px) {
			float: none;
			display: block;
			margin: 0 auto;
			margin-bottom: 16px;
			padding-left: 0;
		}
	}
}