@keyframes out-left {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100vw);
	}
}

@keyframes in-left {
	0% {
		transform: translateX(-100vw);
	}

	100% {
		transform: translateX(0vw);
	}
}

@keyframes out-up {
	10% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-100vh);
	}
}

@keyframes out-down {
	10% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(100vh);
	}
}

@keyframes out-right {
	10% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(100vw);
	}
}

.out-left {
	animation-name: out-left;
	animation-duration: 5s;
	animation-delay: 0;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.out-up {
	animation-name: out-up;
	animation-duration: 5s;
	animation-delay: 0;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.out-down {
	animation-name: out-down;
	animation-duration: 5s;
	animation-delay: 0;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.out-right {
	animation-name: out-right;
	animation-duration: 5s;
	animation-delay: 0;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}