form {
	input, 
	textarea {
		display: block;
		margin-bottom: 16px;
		padding: 5px;
		border: 3px solid $white;
		background-color: transparent;
		color: $white;
		font-family: inherit;
		font-style: italic;
		font-size: 100%;
		box-sizing: border-box;

		&:focus {
			outline: none;
		}

		&::-webkit-input-placeholder {
			color: $white;
			font-style: italic;
		}

		&::-moz-placeholder {
			color: $white;
			font-style: italic;
		}

		&::-ms-input-placeholder {
			color: $white;
			font-style: italic;
		}

		&::-moz-placeholder {
			color: $white;
			font-style: italic;
		}
	}

	input {
		width: 40%;

		@media (max-width: 800px) {
			width: 60%;
		}

		@media (max-width: 700px) {
			width: 100%;
		}
	}

	input[type=submit] {
		width: 30%;
	}

	textarea {
		width: 60%;
		height: 200px;
		overflow: auto;
		resize: none;

		@media (max-width: 800px) {
			width: 100%;
		}
	}
}