nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: #FFF;

	.shape {
		position: relative;
		margin-bottom: 30px;

		.nav-text {
			position: absolute;
			bottom: -20px;
		}
	}
}