.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App.section-open {
  display: block;
  height: auto;
  margin-top: 20px;
}

.fade-appear {
  opacity: 0;
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 10000ms ease-in;
}

@media (min-width: 600px) {
  .App {
    overflow: hidden;
  }

  .App.section-open {
    display: flex;
    height: 100vh;
    margin-top: 0;
  }
}
